[submodule "curso3/gia_iacu_practica1"]
	path = curso3/gia_iacu_practica1
	url = git@github.com:wrstdani/gia_iacu_practica1.git
[submodule "curso3/gia_iacu_practica2"]
	path = curso3/gia_iacu_practica2
	url = git@github.com:wrstdani/gia_iacu_practica2.git
[submodule "curso3/gia_ab2"]
	path = curso3/gia_ab2
	url = git@github.com:wrstdani/gia_ab2.git
[submodule "curso2/gia_ed2_examenes"]
	path = curso2/gia_ed2_examenes
	url = git@github.com:wrstdani/gia_ed2_examenes.git
[submodule "curso3/gia_ml2"]
	path = curso3/gia_ml2
	url = git@github.com:wrstdani/gia_ml2.git
[submodule "curso3/gia_nlp1"]
	path = curso3/gia_nlp1
	url = git@github.com:wrstdani/gia_nlp1.git
[submodule "curso2/gia_ssoo_practica2"]
	path = curso2/gia_ssoo_practica2
	url = git@github.com:wrstdani/gia_ssoo_practica2.git
[submodule "curso3/gia_cv_practica1"]
	path = curso3/gia_cv_practica1
	url = git@github.com:wrstdani/gia_cv_practica1.git
[submodule "curso3/gia_rcr1"]
	path = curso3/gia_rcr1
	url = git@github.com:wrstdani/gia_rcr1.git
[submodule "curso1/gia_pd"]
	path = curso1/gia_pd
	url = git@github.com:wrstdani/gia_pd.git
[submodule "curso3/gia_is_practica2"]
	path = curso3/gia_is_practica2
	url = git@github.com:wrstdani/gia_is_practica2.git
[submodule "curso4/gia_ml3"]
	path = curso4/gia_ml3
	url = git@github.com:wrstdani/gia_ml3.git
[submodule "curso4/gia_nlp2"]
	path = curso4/gia_nlp2
	url = git@github.com:wrstdani/gia_nlp2.git
